<footer ngClass.gt-sm="non-mobile" ngClass.lt-lg="mobile" fxLayout.lt-lg="column" fxLayoutAlign="center" fxLayoutAlign.lt-lg="center center" fxLayoutAlign.xs="center">
  <div fxLayout.xs="column">
    <a class="facebook" href="https://www.facebook.com/OctoberIsOver/">Facebook</a>
    <span class="twitter">Twitter</span>
    <span class="snapchat">Snapchat</span>
  </div>
  <div fxLayout.xs="column">
    <span class="instagram">Instagram</span>
    <span class="bandcamp">Bandcamp</span>
    <span class="soundcloud">Soundcloud</span>
  </div>
</footer>